Welcome to {{ company_name }} and team: {{ team_name }}
Environment: {{ environment_name }}
Hostname: {{ ansible_hostname }}
Distribution: {{ ansible_distribution }} and version: {{ ansible_distribution_version }}
Support contact: {{ support_email }}