PORT=8080
DATABASE_URL={{ database_url }}
MEDIA_SERVICE_URL={{ media_service_url }}
MEDIA_SIGNING_SECRET= {{ media_signing_secret }}
CORS_ALLOWED_ORIGINS=https://rp-snb3.me,http://localhost:3000,http://localhost:8080
NODE_TLS_REJECT_UNAUTHORIZED=0
AUTH_USER_HEADER=x-auth-request-email