DATABASE_URL={{ database_url }}
MEDIA_SERVICE_URL={{ media_service_url }}
MEDIA_SIGNING_SECRET={{ media_signing_secret }}
PROCESSOR_CONCURRENCY=1
TEMP_DIR={{ temp_dir }}
NODE_TLS_REJECT_UNAUTHORIZED=0